  <li>
                  <a class="dropdown-item disabled parent" href="#">Comparison graphs:-</a>
                </li>
                <li>
                  <%= link_to "/comparison", class: "dropdown-item child row align-items-center container-fluid m-0" do %>
                    <span><i class="bi bi-circle-fill"></i></span>
                    <span>Cement wise</span>
                  <%end%>
                </li>
                <li>
                  <%= link_to "/comparison/flyash", class: "dropdown-item child row align-items-center container-fluid m-0" do %>
                    <span><i class="bi bi-circle-fill"></i></span>
                    <span>Binder 1 Flyash wise</span>
                  <%end%>
                </li>
                <li>
                  <%= link_to "/comparison/micro_silica", class: "dropdown-item child row align-items-center container-fluid m-0" do %>
                    <span><i class="bi bi-circle-fill"></i></span>
                    <span>Binder 2 Micro Silica wise</span>
                  <%end%>
                </li>
                <li>
                  <%= link_to "/comparison/superplasticizer", class: "dropdown-item child row align-items-center container-fluid m-0" do %>
                    <span><i class="bi bi-circle-fill"></i></span>
                    <span>Superplasticizer</span>
                  <%end%>
                </li>
                <li>
                  <%= link_to "/comparison/rmc_concrete", class: "dropdown-item child row align-items-center container-fluid m-0" do %>
                    <span><i class="bi bi-circle-fill"></i></span>
                    <span>RMC wise</span>
                  <%end%>
                </li>