<style>
  .drill-bg{
    background-color: #115679;
    border-radius: 10px;
    height: 120px;
    vertical-align: center;
  }
  .heading-div{
    text-align: center;
    background-color: #115679;
    color: white;
    padding: 5px 40px;
  }
  .comp-heading{
    font-size: 30px;
    font-weight: 700;
  }
  .center{
    padding-top: 50px;
  }
  .previous-link{
    color: #565A8E;
  }
    .color-text{
    color: black;
  }
  .build{
    font-size: 16px; 
    font-weight: bold;
  }
</style>
  <div>
    <div class="col-md-6">
     <div class="row container-fluid"> 
        <div class="col-md-2 previous-link">
          <%= link_to strength_graph_index_path(building_id: params[:building_id], building_name: params[:building_name], c_type: params[:c_type]), class: "dropdown-item child row align-items-center container-fluid m-0" do %>
            <span class="build">BUILDINGS ></span>
         <% end %>
        </div>
      </div>
    </div>
    <div class="container-fluid py-5 d-flex justify-content-center align-items-center">
      <div class="rounded-3 shadow" style="width:80%; height: 319px; object-fit: cover;background: url(<%= asset_path 'structure2.jpg' %>);background-size: cover;background-position: 9% 52%;">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <h2 class="mx-auto text-center bg-white rounded-3 p-3" style="width: fit-content">Structures</h2>
          </div>
        </div>
      </div>
    </div>
 <div class="container-fluid"style="width: 80%;">     
    <div class="row p-0 mx-auto mb-5 container-fluid justify-content-center">
      <% @structures.each do |structure| %>
          <div class="col-md-4 col-sm-6 py-2">
            <div class="card shadow">
              <div class="card-body d-flex align-items-center" style="padding-top: 25px; padding-bottom: 25px;">
               <img src="<%= asset_path 'Structure0.svg' %>" alt="Project Image" class="img-fluid me-3" style="max-width: 70px;">
                <%= link_to strength_graph_grade_path(building_id: params[:building_id], c_type: params[:c_type], structure_id: structure.id, structure_name: structure.name,building_name: params[:building_name]), class: "text-decoration-none color-text card-body d-flex align-items-center" do %>
                  <span class="names">
                    <h5><%= structure.name %></h5>
                  </span>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
