<table class="table table-responsive m-0">
  <tr class="heading-row">
     <th style="min-width: 250px;">DATE</th>
    <th style="min-width: 250px;">PROJECT</th>
    <th style="min-width: 250px;">BUILDING</th>
    <th style="min-width: 250px;">RMC/SITE PLANT</th>
    <th style="min-width: 250px;">STRUCTURE</th>
    <th style="min-width: 150px;">GRADE</th>
    <th style="min-width: 250px;">CEMENT BRAND</th>
    <th style="min-width: 130px;">28 DAYS</th>
    <th style="min-width: 130px;">35 DAYS</th>
    <th style="min-width: 130px;">45 DAYS</th>
    <th style="min-width: 130px;">56 DAYS</th>
    <th style="min-width: 130px;">90 DAYS</th>
    <th style="min-width: 130px;">120 DAYS</th>
    <th style="min-width: 130px;" class="show">EDIT</th>
  </tr>
  <% @red_values.each_with_index do |value, index| %>
    <tr class="red-row">
         <td><%= value.date %></td>
        <td><%= value.project_master&.name %></td>
        <td><%= value.building_master&.name %></td>
        <td><%= value.rmc_list&.name %></td>
        <td><%= value.structure_master&.name %></td>
        <td><%= value.grade_master&.name %></td>
        <td><%= value.cement&.brand %></td> 
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '28 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '28 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '28 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '28 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '35 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '35 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '35 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '35 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '45 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '45 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '45 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '45 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '56 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '56 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '56 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '56 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '90 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '90 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '90 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '90 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
        <td style="padding: 8px; border-right: 1px solid #ccc;"><%= ([value.testing_results&.find_by(slot_type: '120 days', attempts: 0)&.result_value, value.testing_results&.find_by(slot_type: '120 days', attempts: 1)&.result_value, value.testing_results&.find_by(slot_type: '120 days', attempts: 2)&.result_value, value.testing_results&.find_by(slot_type: '120 days', attempts: 3)&.result_value].sum / 4.0).round rescue 'NA' %></td>
    </tr>
  <% end %>
</table> 